In [1]:
cd ..

/home/suriya/dcu/Group-Project

In [3]:
from src.datapoint import DataPoint

filepath = "data/tc4tl_training_data_v1/tc4tl/data/train/aaadbuvp_tc4tl20.csv"
datapoint = DataPoint(filepath)
datapoint.bluetooth.head()

    Time     Sensor  Rssi
0  0.000  Bluetooth -77.0
1  0.003  Bluetooth -77.0
2  0.067  Bluetooth -59.0
3  0.069  Bluetooth -59.0
4  0.195  Bluetooth -50.0

In [4]:
datapoint.gyroscope.head()

    Time     Sensor         X         Y         Z
0  0.051  Gyroscope -0.325451  0.131671  0.239032
1  0.301  Gyroscope -0.021081  0.191100  0.045408
2  0.550  Gyroscope  0.066118  0.087730  0.002029
3  0.801  Gyroscope -0.037239 -0.036624  0.034630
4  1.051  Gyroscope -0.016993  0.016274  0.008255

In [34]:
datapoint.before(4., sensors=['Bluetooth', 'Gyroscope'])

{'Bluetooth':       Time     Sensor  Rssi
 0    0.000  Bluetooth -77.0
 1    0.003  Bluetooth -77.0
 2    0.067  Bluetooth -59.0
 3    0.069  Bluetooth -59.0
 4    0.195  Bluetooth -50.0
 ..     ...        ...   ...
 170  3.838  Bluetooth -59.0
 171  3.931  Bluetooth -51.0
 172  3.935  Bluetooth -51.0
 173  3.962  Bluetooth -60.0
 174  3.965  Bluetooth -60.0

 [175 rows x 3 columns],
 'Gyroscope':      Time     Sensor         X         Y         Z
 0   0.051  Gyroscope -0.325451  0.131671  0.239032
 1   0.301  Gyroscope -0.021081  0.191100  0.045408
 2   0.550  Gyroscope  0.066118  0.087730  0.002029
 3   0.801  Gyroscope -0.037239 -0.036624  0.034630
 4   1.051  Gyroscope -0.016993  0.016274  0.008255
 5   1.301  Gyroscope  0.014981  0.058579 -0.004594
 6   1.551  Gyroscope -0.062143  0.016357 -0.053692
 7   1.801  Gyroscope  0.023834  0.006242  0.007726
 8   2.055  Gyroscope  0.052772  0.042986 -0.021806
 9   2.301  Gyroscope -0.001905 -0.002113  0.019238
 10  2.551  Gyroscope  0.020976 -0.012546 -0.000829
 11  2.801  Gyroscope  0.048864 -0.046447  0.046707
 12  3.051  Gyroscope -0.050594  0.041697  0.035817
 13  3.301  Gyroscope -0.018018 -0.023612  0.016105
 14  3.552  Gyroscope -0.018935 -0.010731 -0.016315
 15  3.801  Gyroscope  0.023978  0.014610 -0.009991}

In [35]:
datapoint.nsdata_dict

{'TXDevice': 'iPhoneX',
 'TXPower': '12',
 'RXDevice': 'iPhone8',
 'TXCarry': 'pocket',
 'RXCarry': 'hand',
 'RXPose': 'standing',
 'TXPose': 'standing'}

In [36]:
datapoint.TXPower

'12'

In [37]:
import pandas as pd

key_filepath = "data/tc4tl_training_data_v1/tc4tl/docs/tc4tl_train_key.tsv"
trkey = pd.read_csv(key_filepath, sep='\t')
trkey.head()

                 fileid phone_carriage_state  ...  step_size_in_sec  coarse_grain
0  aaadbuvp_tc4tl20.csv          pocket_hand  ...                50             Y
1  aaamkcii_tc4tl20.csv        pocket_pocket  ...                80             N
2  aabqtowt_tc4tl20.csv            hand_hand  ...                60             N
3  aadkjwss_tc4tl20.csv        pocket_pocket  ...                20             N
4  aafzrgzt_tc4tl20.csv            hand_hand  ...                60             Y

[5 rows x 5 columns]

In [38]:
trkey[trkey.fileid == 'aaadbuvp_tc4tl20.csv']

                 fileid phone_carriage_state  ...  step_size_in_sec  coarse_grain
0  aaadbuvp_tc4tl20.csv          pocket_hand  ...                50             Y

[1 rows x 5 columns]

In [44]:
datapoint.bw(3.9, 4.2, sensors=['Bluetooth'], include_extremes=True)

      Time     Sensor  Rssi
171  3.931  Bluetooth -51.0
172  3.935  Bluetooth -51.0
173  3.962  Bluetooth -60.0
174  3.965  Bluetooth -60.0

In [45]:
datapoint.bw(4., 50., sensors=['Bluetooth'], include_extremes=True)

In [47]:
datapoint.bw(4., 50.)

In [67]:
datapoint.bw(4., 51.7, sensors=['Bluetooth'])

       Time     Sensor  Rssi
175  51.626  Bluetooth -51.0
176  51.629  Bluetooth -52.0
177  51.657  Bluetooth -54.0
178  51.660  Bluetooth -54.0
179  51.687  Bluetooth -72.0
180  51.690  Bluetooth -72.0